<div class="box">
  <div class="flex-head">
      <span class="head-title">Login</span>
  </div>
  <div class="flex-content">
    <form class="form login-form">
      <div class="form-group">
        <label for="user-login">User Name:</label><br>
        <input class="form-input" type="text" id="user-login" />
      </div>
      <div class="form-group">
        <label for="password-login">Password:</label><br>
        <input class="form-input" type="password" id="password-login" />
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Login</button>
      </div>
    </form>
    <div class="form-group" id="signup">
      <a href="/signup">Sign Up Instead</a>
    </div>
  </div>
</div>  
<form class="signup-form"></div>

<script src="./js/login.js"></script>
