<div class="row">
  <div class="col-auto">
    <h2>Welcome, {{name}}!</h2>
  </div>
</div>

<div class="box">
  <div class="flex-head">
      <span class="head-title">Create New Post</span>
  </div>
  <div class="flex-content">
    <form class="form new-post-form">
      <div class="form-group">
        <label for="title-name">Title</label><br>
        <input class="form-input" type="text" id="title-name" name="title-name" />
      </div>
      <div class="form-group">
        <label for="post-content">Content (512 character max)</label><br>
        <textarea class="form-input" id="new-post-input" name="post-content" maxlength="512" rows="5"></textarea>
      </div>
      <div class="form-group">
        <button class="btn btn-primary" type="submit">Create</button>
      </div>
    </form>
  </div>
</div> 

{{#if logged_in}}
<script src="./js/newpost.js"></script>
{{/if}}
